@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Acumin-SemiCondensed';
	src: url('/fonts/acumin-semicondensed/normal.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin-SemiCondensed';
	src: url('/fonts/acumin-semicondensed/medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin-SemiCondensed';
	src: url('/fonts/acumin-semicondensed/bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

body {
	@apply bg-primary text-white;
}

.link {
	@apply transition-colors hover:text-gray-300;
}
